body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  
}
img{
  height: 200px;
}


.title{
  color: gold;
  font-size: 6rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}